.masthead{
    //padding: 0px !important;
}

.container.custom{
    max-width: 100% !important;
    width: 100% !important;
    height: 560px;
    background: url(/assets/images/imagen-3-web-pafar.png);
    
}

.masthead__offset-bottom{
    margin-top: 2% !important;
}

.masthead__content-title, .masthead__content-subtitle{
    color: #fff !important;
}

.section__heading_custom{
    font-size: 36px !important;
}

.subt{
    font-size: 28px !important;
}

