<!-- Start Breadcrumb -->
<app-breadcrumb>
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Page</a></li>
    <li class="breadcrumb-item active" aria-current="page">Gallery</li>
</app-breadcrumb>
<!-- End Breadcrumb -->

<!-- Start Section -->
<section class="section pt-40">
    <div class="container">
        <div class="gallery__filter">
            <ul class="gallery__filter--list">
                <li [class.active]="selectedCategory == null">
                    <button class="gallery__filter--list-link" (click)="categoryChange(null)">All</button>
                </li>
                <li *ngFor="let item of dataCategory" [class.active]="selectedCategory == item">
                    <button class="gallery__filter--list-link" (click)="categoryChange(item)">{{item.attributes.Name}}</button>
                </li>
            </ul>
        </div>

        <div class="gallery__content">
            <div class="row">
                <!-- Start gallery -->
                <div *ngFor="let item of data | paginate: { id: 'gallery', itemsPerPage: itemsPerPage, currentPage: page, totalItems: total }" class="col-lg-4">
                    <div class="gallery__item">
                        <a 
                            [href]="baseUrl +  item.attributes?.Image?.data.attributes.url" 
                            class="gallery__item--image js-item-image js-zoom-image" 
                            [attr.data-title]="item.attributes.Title" 
                            data-author="Ence Iif Sy">  
                            <div class="gallery__item--image--background js-image-background" 
                            [attr.data-image]="baseUrl +  item.attributes?.Image?.data.attributes.url  + '?resize=400x400'" ></div>
                            <div class="gallery__item--image--overlay"><i class="fa fa-search"></i></div>
                        </a>
                        <div class="gallery__item--desc">
                            <h4 class="gallery__item--desc--title"><a href="#">{{item.attributes.Title}}</a></h4>
                            <div class="gallery__item--desc--author">
                                <img 
                                    [src]="baseUrl +  item.attributes?.createdBy.avatar" 
                                    class="gallery__item--desc--author-avatar" 
                                    alt="Author Avatar" 
                                    width="40" 
                                    height="40">
                                <p><strong>By :</strong> <a href="#"> {{item.attributes?.createdBy.firstname}} {{item.attributes?.createdBy.lastname}}</a></p>
                                <span>{{item.attributes.DisplayDate}}</span>
                            </div>
                        </div>
                        <div class="gallery__item--action">
                            <a href="#" class="gallery__item--action--link"><i class="fa fa-heart"></i></a>
                            <a href="#" class="gallery__item--action--link"><i class="fa fa-share-alt"></i></a>
                            <a href="#" class="gallery__item--action--link"><i class="fa fa-share"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End gallery -->
            </div>
        </div>

        <pagination-controls 
            id="gallery" 
            previousLabel="Previous"
            nextLabel="Next"
            (pageChange)="pageChange($event)">
        </pagination-controls>
    </div>
</section>
<!-- End Section -->

<!-- Start Section -->
<call-to-action
    text="Need help's... Feel fee to contact us"
    link="contact"
></call-to-action>
<!-- End Section -->