<!-- Start Breadcrumb -->
<app-breadcrumb>
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Representaciones</li>
</app-breadcrumb>
<!-- End Breadcrumb -->

<!-- Start Section -->
<section class="section pt-40">
    <div class="container">
        <div class="notices__heading">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="section__heading">Representaciones</h2>
                </div>
                <div class="col-lg-8">
                    <div class="notices__content" [innerHTML]="'Nuestro compromiso, trabajar como aliados estratégicos de empresas y personas que confíen en nosotros, suministrándoles soluciones enfocadas a satisfacer sus necesidades, considerando que estas armonicen y minimicen el impacto con el entorno ecológico, mejorando su calidad de vida.' | sanitizeHtml"></div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h3>Ingenieria Aplicada Y Obras Civiles</h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Luminotecnia Internacional'"
                    type="section__column-left"
                    [description]="'España  (Contraladores de Luz y Potencia, Manejo de Aguas y Fuentes Monumentales, patentes de valvulas, control, automatizacion).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Grupo Ilimited'"
                    type="section__column-left"
                    [description]="'España (Energías Alternativas, Construcción Especializada).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Pi Integral Solution'"
                    type="section__column-left"
                    [description]="'Alemania  (Diseño de Compuesto polimericos, equipamiento , partes y piezas electromecanicas, Energias Alternativas).'"
                ></section-column-item>
            </div>

            <div class="col-lg-4">
                <section-column-item
                    [title]="'Neo/CRled/MediaFade'"
                    type="section__column-left"
                    [description]="'China; Insta, Alemania; Ejecución de nuestros diseños en LED, fabrica de Led, luminarias Led: residencial, comercial, industrial, vialidad, tuneles, arqutectonica, decorativa, cortinas.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'WIELAND ELECTRIC'"
                    type="section__column-left"
                    [description]="'Alemania (fabricante de productos de Automatización y control).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'ISOPanel'"
                    type="section__column-left"
                    [description]="'Venezuela/Costa Rica (Fabrica de Paneles Portantes Estructurales para despliegue modular).'"
                ></section-column-item>
            </div>

            <div class="col-lg-4">
                <section-column-item
                    [title]="'TANTUX'"
                    type="section__column-left"
                    [description]="'Colombia (Sistema ConstructivoFormaletas Modulares para Vaciados Monoliticos).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Quercusolar'"
                    type="section__column-left"
                    [description]="'España (Productos, Diseño,Procura y Despliegue en energias alternativas: solar, eolica,biodisgetores).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Ekabel'"
                    type="section__column-left"
                    [description]="'Venezuela Perú Mexico USA, (Fabrica de Cable tension baja a Alta).'"
                ></section-column-item>
            </div>

            <div class="col-lg-4">
                <section-column-item
                    [title]="'REcologica'"
                    type="section__column-left"
                    [description]="'Venezuela, (Fabrica de granulados de caucho reciclado para pisos, aplicaciones deportivas de alto nivel, decorativas, recreativas, industriales).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Preciosa'"
                    type="section__column-left"
                    [description]="'Republica Checa, (Fabrica de Cristal de Bohemia y luminarias).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Uniarte'"
                    type="section__column-left"
                    [description]="'España, (Fabrica de Puertas masizas, comprimidas o compuestas, con nucleos de acero o corcho, hidrofugas, inifugas y o antirruido).'"
                ></section-column-item>
            </div>

            <div class="col-lg-4">
                <section-column-item
                    [title]="'Enys Corp'"
                    type="section__column-left"
                    [description]="'Usa Inglaterra China (Integrador y Fabricante de Estructuras Metalicas industriales).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'ADES'"
                    type="section__column-left"
                    [description]="'España (Fabrica y Patentes Desalinizadoras y Tratamiento de Aguas).'"
                ></section-column-item>
            </div>

        </div>
    </div>
</section>
<!-- End Section -->

