<!-- Start Breadcrumb -->
<app-breadcrumb>
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Page</a></li>
    <li class="breadcrumb-item active" aria-current="page">Team</li>
</app-breadcrumb>
<!-- End Breadcrumb -->

<!-- Start Section -->
<section class="section pt-40 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 class="section__heading section__heading-center">Meet our team</h2>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let item of teams" class="col-md-6 col-lg-4">
                <team-item
                    [avatar]="baseUrl +  item.attributes?.Image?.data.attributes.url"
                    [name]="item.attributes.Name"
                    [title]="item.attributes.Title"
                    [facebookLink]="item.attributes.Facebook"
                    [twitterkLink]="item.attributes.Twitter"
                    [linkEdinkLink]="item.attributes.Linkedin"
                ></team-item>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="team__card--join js-match-height">
                    <a href="#" class="team__card--join-link">Join with us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->

<!-- Start Section -->
<call-to-action
    text="Need help's... Feel fee to contact us"
    link="contact"
></call-to-action>
<!-- End Section -->