<!-- Start Breadcrumb -->
<app-breadcrumb>
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a href="#">Blog</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blog grid right sidebar</li>
</app-breadcrumb>
<!-- End Breadcrumb -->

<!-- Start Section -->
<section class="section pt-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Start blog listing -->
                <div class="row blog__listing-grid">
                    <div *ngFor="let item of blogService.blogs | paginate: { id: 'blog', itemsPerPage: mainService.blogItemPerPage, currentPage: blogService.page, totalItems: blogService.total }" class="col-lg-6">
                        <blog-post-grid
                            [categories]="item.attributes.blog_categories.data"
                            [title]="item.attributes.Title"
                            [avatar]="baseUrl + item.attributes.createdBy?.avatar"
                            [user]="item.attributes.createdBy.firstname + ' ' + item.attributes.createdBy.lastname"
                            [date]="item.attributes.DisplayDate"
                            [coverImage]="baseUrl + item.attributes.Image?.data.attributes.formats.medium.url + '?resize=640x250'"
                            [pageLink]="'/blog/' + item.attributes.Slug + '_' + item.attributes.uuid"
                        ></blog-post-grid>
                    </div>
                </div>
                <!-- End blog listing -->

                <!-- Start Pagination -->
                <pagination-controls 
                    id="blog" 
                    previousLabel="Previous"
                    nextLabel="Next"
                    (pageChange)="blogService.pageChange($event)">
                </pagination-controls>
                <!-- End Pagination -->
            </div>
            <div class="col-lg-4">
                <aside class="aside__right">
                    <blog-sidebar></blog-sidebar>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->

<!-- Start Section -->
<call-to-action
    text="Need help's... Feel fee to contact us"
    link="contact"
></call-to-action>
<!-- End Section -->