<!-- Start Breadcrumb -->
<app-breadcrumb>
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Servicios</li>
</app-breadcrumb>
<!-- End Breadcrumb -->

<!-- Start Section -->
<section class="section pt-40">
    <div class="container">
        <div class="notices__heading">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="section__heading">Nuestros servicios</h2>
                </div>
                <div class="col-lg-8">
                    <div class="notices__content" [innerHTML]="'Nuestro compromiso, trabajar como aliados estratégicos de empresas y personas que confíen en nosotros, suministrándoles soluciones enfocadas a satisfacer sus necesidades, considerando que estas armonicen y minimicen el impacto con el entorno ecológico, mejorando su calidad de vida.' | sanitizeHtml"></div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h3>Ingeniería Aplicada Y Construcción</h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Gestión de proyectos'"
                    type="section__column-left"
                    [description]="'De construcción e Inspección de Obras.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Elaboración de Proyectos de Ingeniería Aplicada,'"
                    type="section__column-left"
                    [description]="'Arquitectura y todos aquellos relacionados a Obras Civiles Construcción de Estructuras en Acero y Concreto.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Energía'"
                    type="section__column-left"
                    [description]="'Con énfasis en solares y eólicas, Potencia y Sistemas de Puesta a Tierra.'"
                ></section-column-item>
            </div>

            <div class="col-lg-4">
                <section-column-item
                    [title]="'Ducteria,'"
                    type="section__column-left"
                    [description]="'Climatización de Precisión y Estándar, Chillers y Calderas.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Diseño, Producción, construcción'"
                    type="section__column-left"
                    [description]="'E implantación de Fuentes Robotizadas cromo Acuáticas.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Centros de Procesamiento'"
                    type="section__column-left"
                    [description]="'De Datos y Domótica.'"
                ></section-column-item>
            </div>


            <div class="col-lg-4">
                <section-column-item
                    [title]="'Fibra Óptica,'"
                    type="section__column-left"
                    [description]="'Cableado Estructurado Lan y WAN, enlaces Inalámbricos, Wifi.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Gases Medicinales'"
                    type="section__column-left"
                    [description]="'E implantación de Fuentes Robotizadas cromo Acuáticas.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Urbanismo, Movimientos de Tierra, Vialidad'"
                    type="section__column-left"
                    [description]="'De Datos y Domótica.'"
                ></section-column-item>
            </div>

            <div class="col-lg-4">
                <section-column-item
                    [title]="'Diseño, Fabricación y Venta'"
                    type="section__column-left"
                    [description]="'De Iluminación LED en los sectores: Industrial, Vialidad, Túneles, Arquitectura, Comercial, Residencial.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Diseño, Producción y Procura'"
                    type="section__column-left"
                    [description]="'de Cableado de tensión media a Baja.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Desalinizadoras y Depuradoras de Agua'"
                    type="section__column-left"
                    [description]="''"
                ></section-column-item>
            </div>

            <div class="col-lg-4">
                <section-column-item
                    [title]="'Proyectos deportivos y afines'"
                    type="section__column-left"
                    [description]="'Con certificación internacional (gimnasios, centros de futbol, canchas de padel).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Procura de Materiales'"
                    type="section__column-left"
                    [description]="'Para la ingeniería amplia y la industria Minera, Petrolera, Industrial obras Civiles.'"
                ></section-column-item>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h3>Ingeniería De Software</h3>
                
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Arquitectura, diseño y desarrollo full stack de Aplicaciones'"
                    type="section__column-left"
                    [description]="'Con énfasis en soluciones corporativas, gaming, mundo deportivo, transaccionalidad, banca, finanzas y activos digitales (Blockchain / Fiat / Tokenizacion).'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Sistematización e Integración de Procesos de Negocios'"
                    type="section__column-left"
                    [description]="'En aplicativos multi entornos y según necesidad Cliente Servidor / Web / Mobile, con énfasis en servicios y micro servicios e ingeniería en la nube.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Diseño y Desarrollo e implantación de Sistemas'"
                    type="section__column-left"
                    [description]="'Utilizando lenguajes de programación vanguardistas (entornos libres o propietarios), full stack, multi canales, multi plataformas, según el sector, enfoque y requerimiento.'"
                ></section-column-item>
            </div>

            <div class="col-lg-4">
                <section-column-item
                    [title]="'Diseño y Desarrollo de App nativas e híbridas'"
                    type="section__column-left"
                    [description]="'Para sistemas operativos Android o IOS logrando así adaptarse a los requisitos del cliente y sus posibilidades tanto técnicas como monetarias.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Migración de sistemas'"
                    type="section__column-left"
                    [description]="'A entornos y lenguajes distintos a los que fueron concebidos.'"
                ></section-column-item>
            </div>
            <div class="col-lg-4">
                <section-column-item
                    [title]="'Ui & Ux Design'"
                    type="section__column-left"
                    [description]="'Creamos experiencias de usuario e interfaces que invitan a repetir experiencia y facilitan el uso de sitios web y aplicaciones móviles.'"
                ></section-column-item>
            </div>        



        </div>
    </div>
</section>
<!-- End Section -->
