<app-home-alt1 *ngIf="mainService.homeTemplate === 'home-alt1'"></app-home-alt1>
<app-home-alt2 *ngIf="mainService.homeTemplate === 'home-alt2'"></app-home-alt2>
<app-home-alt3 *ngIf="mainService.homeTemplate === 'home-alt3'"></app-home-alt3>
<app-home-alt4 *ngIf="mainService.homeTemplate === 'home-alt4'"></app-home-alt4>
<app-home-alt5 *ngIf="mainService.homeTemplate === 'home-alt5'"></app-home-alt5>
<app-home-alt6 *ngIf="mainService.homeTemplate === 'home-alt6'"></app-home-alt6>
<app-home-alt7 *ngIf="mainService.homeTemplate === 'home-alt7'"></app-home-alt7>
<app-home-alt8 *ngIf="mainService.homeTemplate === 'home-alt8'"></app-home-alt8>